body
{
    background-color: white;
    background-image: url("img/bg.png");    /* ensures header spans the entire screen horizontally */
    background-repeat: repeat-x;
}
#page {
    width:980px;
    height:695px;
    margin: 0 auto;
    padding: 0;
}


/*#page {
	width:980px;
	height:695px;
}
#page #top{
	width:980px;
	height:70px;
	background-color:#f5f5f5;
}
#top #logo{
	margin:5px 0px 0px 70px;
	float:left;	
	background-color: #e5e5e5;
	height:60px;
	width:60px;
	-moz-border-radius: 25px 10px / 10px 25px;
	border-radius: 25px 10px / 10px 25px;
}

#page #nav{
	clear:both;
	width: 400px;
	height:35px;
}*/
/***************************************************************************************
 *                           HEADER                                                    *
 ***************************************************************************************/
#page #top{
   width:980px;
   height: 105px;
   background-color: #060047;                     /* A dark navy blue */
}

#top #logo
{
    background-image: url('img/logo.png');         /* full logo */
    width: 206px;                                  
    height: 58px;
    float: left;                                  /* push the logo the left */
    margin: 20px;
}
nav
{
    float: right;                                 /* push the nav menu to the right */
    color: white;
    margin: 40px;                                 /* refine positioning */
}
nav ul
{
   list-style-type: none;
}
nav ul li 
{
    padding: 1em;
    margin: 10px;
    display: inline;
    padding: 12px;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border: 0px solid #800000;
    background-color: #0d0656;

}

nav ul li:hover
{
    padding: 1em;
    margin: 10px;
    display: inline;
    padding: 12px;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border: 0px solid #800000;
    background-color: #2b0101;
}

#top a:link
{
	color: white;
}
#top a:hover
{
	color: white;
	text-decoration: none;
}




#page #main{
	width:980px;
	height:550px;
	background-color: #DCDCDC;
}
#main #about{
	float:left;
	margin-left:20px;
	margin-top:33px;
	width:460px;
	height:355px;
	background-color: #fff;
	overflow-y:scroll;
}
#main #who-we-are{
	padding:3px;
}
#main #right{
	margin-top:33px;
	margin-right:20px;
	float:right;
	width: 460px;
	height:355px;
	background-color:white;
}
#main #right #screens{
}
#main #right #clicks {
	width:360px;
	margin-top:15px;
	margin:0px auto;
}
#main #right #clicks #btn2{
	float:right;
}
#main #right #started{
	width: 50%;
	margin: 0px auto;
	overflow: hidden;
	padding-left: 110px;
	margin-top:-15px;
}
#page #footer{
	width:100%;
	text-align: center;
}