*{margin:0px; padding: 0px}

body
{
    background-color: white;
    background-image: url("../img/bg.png");    /* ensures header spans the entire screen horizontally */
    background-repeat: repeat-x;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

#page {
    width:980px;
    height:695px;
    margin: 0 auto;
    padding: 0;
}


/*#page {
	width:980px;
	height:695px;
}
#page #top{
	width:980px;
	height:70px;
	background-color:#f5f5f5;
}
#top #logo{
	margin:5px 0px 0px 70px;
	float:left;	
	background-color: #e5e5e5;
	height:60px;
	width:60px;
	-moz-border-radius: 25px 10px / 10px 25px;
	border-radius: 25px 10px / 10px 25px;
}

#page #nav{
	clear:both;
	width: 400px;
	height:35px;
}*/
/***************************************************************************************
 *                           HEADER                                                    *
 ***************************************************************************************/
#page #top{
   width:980px;
   height: 105px;
   background-color: #060047;                     /* A dark navy blue */
}

#top #logo
{
    background-image: url("../img/logo.png");         /* full logo */
    width: 206px;                                  
    height: 58px;
    float: left;                                  /* push the logo the left */
    margin: 20px;
}
nav
{
    float: right;                                 /* push the nav menu to the right */
    color: white;
    margin: 40px;                                 /* refine positioning */
}
nav ul
{
   list-style-type: none;
}
nav ul li 
{
    padding: 1em;
    margin: 10px;
    display: inline;
    padding: 12px;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    background-color: #0d0656;
}

nav ul li:hover
{
    padding: 1em;
    margin: 10px;
    display: inline;
    padding: 12px;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    background-color: #0088cc;
}

#top a:link
{
	color: white;
}
#top a:active,
#top a:visited
{
  color: white;
}
#top a:hover
{
	color: white;
	text-decoration: none;
}


#page #main{
	width:980px;
	height:550px;
	background-color: #DCDCDC;
  background-image: url("gradientBgForMain.png");  
}
#main #about{
	float:left;
  padding-top:20px;
	margin-left:20px;
	width:460px;
	height:355px;
}
#main #about #who-we-are{
  display: inline;
	padding:3px;
}
#main #about #picture{
  padding-top: 80px;
  padding-left: 20px;
  text-align: center;

}
#main #about #social{
  padding-left:15px;
}
#main #right{
	margin-right:20px;
	float:right;
	width: 460px;
	height:355px;
}
#main #right #screens {
	display: block;
	max-width: 100%;
  margin-top:20px;
	margin-right: auto;
	margin-left: auto;
}
#main #right #screens #screen{
	max-width: 100%;
	max-height: 100%;
}
#main #right #clicks {
	width:360px;
	margin-top:15px;
	margin:0px auto;
}
#main #right #clicks #btn2{
	float:right;
}
#main #right #started{
	width: 50%;
	margin: 0px auto;
	overflow: hidden;
	padding-left: 110px;
}

#page #footer{
	width:100%;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
	text-align: center;
  background-color: #020731;
}
#page #footer a{
  color:white;
}
.left{float: right;padding: 1em;}
.right{float: left;padding: 1em;}
.left img{padding-right: 10px;}
.right a:visited, .right a:link, .right a:active{color: white;text-decoration: none;font-size: 12px;}
.right a:hover{color: #0073cc;}

#findOutMore
{
  width: 262px;
  margin-left: 80px;
  text-align: center;
  font-weight: bold;
}
#findOutMore a:hover
{
   color: white;
   text-decoration: none;  
}

/*****************Classes***********************/

.btn {
  display: inline-block;
  padding: 10px 25px 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
 }


.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}


.imageborder{
border-width: 20px;
-moz-border-image: url(frame.gif) 20 stretch; /*Mozilla version*/
-webkit-border-image: url(frame.gif) 20 stretch; /*Webkit version*/
-o-border-image: url(frame.gif) 20 stretch; /*Opera version*/
-ms-border-image: url(frame.gif) 20 stretch; /*IE syntax when it does support this prop*/
border-image: url(frame.gif) 20 stretch; /*Standard version*/
}