#page {
	width:980px;
	height:695px;
}
#page #top{
	width:980px;
	height:70px;
	background-color:#f5f5f5;
}
#top #logo{
	margin:5px 0px 0px 70px;
	float:left;	
	background-color: #e5e5e5;
	height:60px;
	width:60px;
	-moz-border-radius: 25px 10px / 10px 25px;
	border-radius: 25px 10px / 10px 25px;
}

#page #nav{
	clear:both;
	width: 400px;
	height:35px;
}
#page #main{
	width:980px;
	height:550px;
	background-color: #DCDCDC;
}
#main #about{
	float:left;
	margin-left:20px;
	margin-top:33px;
	width:460px;
	height:355px;
	background-color: #fff;
	overflow-y:scroll;
}
#main #who-we-are{
	padding:3px;
}
#main #right{
	margin-top:33px;
	margin-right:20px;
	float:right;
	width: 460px;
	height:355px;
	background-color:white;
}
#main #right #screens{
}
#main #right #clicks {
	width:360px;
	margin-top:15px;
	margin:0px auto;
}
#main #right #clicks #btn2{
	float:right;
}
#main #right #started{
	width: 50%;
	margin: 0px auto;
	overflow: hidden;
	padding-left: 110px;
	margin-top:-15px;
}
#page #footer{
	width:100%;
	text-align: center;
}