*{margin:0px; padding: 0px}

body
{
    background-color: white;
    background-image: url("../img/bg.png");    /* ensures header spans the entire screen horizontally */
    background-repeat: repeat-x;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #DCDCDC;
}
a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

#page {
    width:980px;
    height:655px  ;
    margin: 0 auto;
    padding: 0;
}


/***************************************************************************************
 *                           HEADER                                                    *
 ***************************************************************************************/
#page #top{
   width:980px;
   height: 105px;
   background-color: #060047;                     /* A dark navy blue */
}

#top #logo
{
    background-image: url("../img/logo.png");      /* full logo */
    width: 206px;                                  
    height: 58px;
    float: left;                                  /* push the logo the left */
    margin: 20px;
}
nav
{
    float: right;                                 /* push the nav menu to the right */
    color: white;
    margin: 40px;                                 /* refine positioning */
}
nav ul
{
   list-style-type: none;
}
nav ul li 
{
    padding: 1em;
    margin: 10px;
    display: inline;
    padding: 12px;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    background-color: #0d0656;
}

nav ul li:hover
{
    padding: 1em;
    margin: 10px;
    display: inline;
    padding: 12px;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    background-color: #0088cc;
}

#top a:link
{
	color: white;
}
#top a:active,
#top a:visited
{
  color: white;
}
#top a:hover
{
	color: white;
	text-decoration: none;
}

/*********************MAIN PORTION OF PAGE***************************/

#page #main{
	width:980px;
	height:550px;
	background-color: #DCDCDC;
}
#main #about{
	float:left;
  padding-top:20px;
	margin-left:20px;
	width:460px;
	height:355px;
}
#main #about #who-we-are{
  display: inline;
	padding:3px;
}
#main #about #picture{
  padding-top: 80px;
  padding-left: 20px;
  text-align: center;

}
#main #about #social{
  padding-left:15px;
}
#main #right{
	margin-right:20px;
	float:right;
	width: 460px;
	height:355px;
}
#main #right #screens {
	display: block;
	max-width: 100%;
  padding-top:30px;
	margin-right: auto;
	margin-left: auto;

}
#main #right #screens #screen{
	max-width: 100%;
	max-height: 100%;
  border:1spx solid #f0f0f0;
  -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 18px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 18px rgba(50, 50, 50, 1);
}

#main #right #started{
	width: 50%;
	margin: 0px auto;
  padding-top: 27px;
	overflow: hidden;
	padding-left: 30px;
}
#main #right #copyright{
  font-size: 1.1em;
  padding:130px 0px 0px 400px;
}


/****************************************************************************************************
 *                             FOOTER 
 ***************************************************************************************************/
 #footerWrapper
{
  width: 100%;
  background-color: #020731;
  text-align: center;
  margin: 0;
}

 #footer{
  width:980px;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
	text-align: center;
  background-color: #020731;
  margin: 0 auto;
}
#footer a{
  color:white;
}
.right{
  float: right;
  padding: 1em;
}
.left{
  float: left;
  padding: 1em;
}
.right img{
  padding-right: 10px;
}
.left a:visited, .left a:link, .left a:active{
  color: white;
  text-decoration: none;
  font-size: 12px;
}
#footer a:hover{
  color: #0073cc;
}


/****************************************************************************************************
 *                           MISCELANEOUS 
 ****************************************************************************************************/
#findOutMore
{
  width: 262px;
  margin-left: 80px;
  text-align: center;
  font-weight: bold;
}
#findOutMore a:hover
{
   color: white;
   text-decoration: none;  
}

/****************************************************************************************************
 *                           CONTACT PAGE 
 ****************************************************************************************************/
 #contact_us{
  padding: 1em;                                   /* so the text isn't right up against the edges! */
 }
 input, textarea{
  border-radius: 20px; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
   border: 0;
   padding: 7px;
 }
 .formField
 {
  display: block;
  padding: 7px;
 }
 textarea
 {
   display: block;
   width: 375px;
   height: 250px;
   padding: 20px;
 }
 #contact_us .left
 {
   width: 45%;
 }
 #contact_us td, #contact_us p {
   padding: 5px;
 }
 #contact_us h3, #overview h2 {
    padding-bottom: 10px;
    color:  #140387;
 }
 #contact_us .padTop 
 {
    padding-top: 10px;
 }
 #contact_us .tableHeading
 {
    background-color: #a5a5a5;
    font-weight: bolder;
 }
 #contact_us .tableRow
 {
    background-color: #cecece
 }
 #contact_us .tableRowAlt
 {
    background-color: #e5e5e5;
 }
 #overview
 {
   padding: 2em;
 }
 /*****************Classes***********************/

.btn {
  display: inline-block;
  padding: 20px 58px 20px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
 }


.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}


.imageborder{
border-width: 20px;
-moz-border-image: url(frame.gif) 20 stretch; /*Mozilla version*/
-webkit-border-image: url(frame.gif) 20 stretch; /*Webkit version*/
-o-border-image: url(frame.gif) 20 stretch; /*Opera version*/
-ms-border-image: url(frame.gif) 20 stretch; /*IE syntax when it does support this prop*/
border-image: url(frame.gif) 20 stretch; /*Standard version*/
}