.features {
	
}

#overview{
	padding:4px;
}
.three_columns {
	padding:8px;
	position: relative;
	width: 960;
	margin: 0px auto;
	overflow: hidden;
}

.three_columns .feature {
	width: 265px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	display: inline;
}


.three_columns .feature #highlight{
	margin-left:15px;
}
#features{
	padding-left:20px;
	line-height: 23px;
}