h1 {
    color: #0088cc;
    text-decoration: none;
}

h2 {
    color: #0088cc;
    text-decoration: none;
}

h3 {
    color: black;
}

#sitemap {
    padding: 40px;
    padding-bottom: 15px;
    text-align: center;
}

#sites {
    padding: 10px;
    height: 300px;
}

#sites #left {
    float: left;
    margin: 25px;
    height: 200px;
    width: 300px;
    padding: 20px;
}

#sites #right{
    float: right;
    margin: 25px;
    height: 200px;
    width: 300px;
    padding: 20px;
}

#more {
   text-align: center; 
}