*
{
	margin: 0;
	padding: 0;
}
/* Header styles */
header 
{
	background-image: url("../img/headerbg.png");
	background-repeat: repeat-x;
	height: 65px;
}

#logo
{
    background-image: url("../img/logo.png");
    height: 65px;
    width: 397px;
}

#innerHeader
{
	margin: 0 auto;
	width: 874px;
	height: 65px;
}

nav
{
	padding: 20px;
}

nav a, nav a:visited, nav a:active
{
	margin-left: 10px;
	background-color: #484848;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    font-family: 'Crete Round', serif;
}

nav a:hover
{
	background-color: #5f5f5f;
}

/* Hook */
#hook 
{
	background-image: url("../img/hookbg.png");
	background-color: #c6c6c6;
	background-repeat: repeat-x;
	height: 300px;
	padding: 1em;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#example
{
	width: 300px;
	padding-top: 15px;
}
#innerHook 
{
	width: 800px;
	margin: 0 auto;
}
#smallOverview p
{
	padding-top: 10px;
	width: 400px;
	font-family: 'Karla', sans-serif;
	line-height: 23px;
}

#smallOverview
{
	padding: 1em;
}

#smallOverview h1
{
	color: white;
    text-shadow: 1px 1px 2px black;
    font-family: 'Crete Round', serif;
}

#learnMore
{
	margin: 0 auto;
	text-align: center;
    background: #7d7e7d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 200px;
    padding: 1em;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

#learnMore a, #learnMore a:hover, #learnMore a:active
{
	color: white;
	text-decoration: none;
	font-family: 'Karla', sans-serif;
	font-weight: bold;
}

/* detailed overview */
#detailedOverview
{
	background-image: url("../img/overviewbg.png");
	background-repeat: repeat-x;
	padding: 2em;
	border-top-color: white;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: 'Karla', sans-serif;
	line-height: 20px;
}
#detailedOverview h1
{
	color: #545454;
    text-shadow: 1px 1px 2px grey;
    font-family: 'Crete Round', serif;
    margin-bottom: 10px;	
}

#innerDetailedOverview
{
	width: 800px;
	margin: 0 auto;
	font-size: 11pt;
}

#innerDetailedOverview #leftCol
{
	width: 30%;
	padding-right: 1em;
}
#innerDetailedOverview #rightCol
{
	width: 31%;
}
#innerDetailedOverview #midCol
{
	width: 30%;
	padding-left: 1em;
}

/* Footer */
footer 
{
	background-image: url("../img/footerbg.png");
	padding: 1em;
	bottom: 0;
	position: fixed;
	color: #747474;
	font-family: 'Karla', sans-serif;
	font-size: 10pt;
	height: 20px;
	background-repeat: repeat-x;
	background-color: #404040;
	width: 100%;
}
footer a, footer a:active, footer a:visited
{
	color: #a7a7a7;
	text-decoration: none;
	padding-right: 10px;
}

footer a:hover
{
	color: #666666;
	text-decoration: none;
}

#footerWrapper
{
	width: 800px;
	margin: 0 auto;
}

/* Features */
#featuresList 
{
	font-family: 'Karla', sans-serif;
	line-height: 20px;
	background-image: url("../img/hookbg.png");
	background-color: #c6c6c6;
	background-repeat: repeat-x;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#featuresWrapper h3
{
	color: white;
    text-shadow: 1px 1px 2px grey;
    font-family: 'Crete Round', serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
#featuresWrapper
{
	width: 800px;
	margin: 0 auto;
}
#featuresWrapper .clear
{
	clear: both;
	height: 25px;
}
#leftColTop
{
	width: 30%;
	padding: 1em;
}
#rightColTop
{
	width: 30%;
	padding: 1em;
}
#middleTop
{
	padding-top: 1em;
	width: 30%;
}
#challenges
{
	background-image: url("../img/overviewbg.png");
	padding: 1em;
	font-family: 'Karla', sans-serif;
	line-height: 20px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: white;
}
#challengesWrapper
{
	width: 800px;
	margin: 0 auto;
}
#challengesWrapper h2
{
	color: #545454;
    text-shadow: 1px 1px 2px grey;
    font-family: 'Crete Round', serif;
    margin-bottom: 10px;
}

/* Overview Page */
#wireframesInner, #whyGeekOpsInner
{
	width: 800px;
	margin: 0 auto;
}
/* Misc Classes */
.left
{
	float: left;
}

.right
{   
	float: right;
}
.clear
{
	clear: both;
}