body{
	height: 100%;
	background: rgba(220, 240, 247,.5);
}
#top{
	min-width: 965px;
	height: 45px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0 2px 2px #666;
	background: #bbb;

}
#top #top-menu{
	width: 200px;
	height: 45px;
	display: inline-block;
	vertical-align: top;
	border-right: 2px solid #888;

}
#top #top-menu a{
	color:black;
}
#top #toolbar-wrap{
	min-width: 760px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#top #toolbar-wrap #toolbar{
	width: 100%;
	margin: 0px auto;
}

/****************************************MIDDLE***************************/
#middle{
	min-width: 965px;
	height: 45px;
	margin-top:5px;
	background: #999;
}
#middle #category{
	width: 200px;
	height: 45px;
	vertical-align: top;
	display: inline-block;
}
#middle #options{
	min-width: 760px;
	height: 45px;
	display: inline-block;
	line-height: 45px;
}
#middle #options #page-tab{
	float:left;
	height: 45px;
}
#middle #options #text-options{
	height: 45px;
	float: right;
	padding-right: 45px;
}
#middle #category #search-box{
	outline: none;
	background: #ededed;
	float:right;
	border: solid 1px #ccc;
	width:110px;

	-webkit-transition: all .5s;
	-moz-transistion: all .5s;
	-transition: all .5s;
}

#middle #category #search-box:focus{
	width:125px;
	background-color:#fff;
	border-color:#6dcff6;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);


}


/************************BOTTOM*****************************/
#bottom{
	min-width: 965px;
	min-height: 500px;
}
#bottom #widgets{
	display: inline-block;
	width: 200px;
	min-height: 500px;
}

#bottom #canvas-wrap{
	display: inline-block;
	min-width: 760px;
	min-height: 500px;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
	padding:10px;
}
#bottom #canvas-wrap #canvas{
	width: 90%;
	height: 90%;
	background: white;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0 0 5px 3px #888;
}


.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#B7AFA3));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
