body{
	background: rgba(220, 240, 247,.5);
}
#top{
	min-width: 970px;
	height: 45px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0 2px 2px #666;
	background-image: url("../img/toolbar_bg.png");
	background-repeat: repeat-x;

}
#top #top-menu{
	width: 240px;
	height: 45px;
	display: inline-block;
	vertical-align: top;
	border-right: 2px solid #888;

}
#top #top-menu a{
	color:black;
}
#top #toolbar-wrap{
	min-width: 720px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	vertical-align: top;
}
#top #toolbar-wrap #toolbar{
	min-width: 720px;
	margin: 0px auto;
}
#top #toolbar-wrap #toolbar ul li{
	margin: 5px 25px;
	display: inline-block;
	list-style-type:none;
	text-align: center;
}

#top #toolbar-wrap #toolbar a{
	display: block;
	text-decoration: none;
}


/****************************************MIDDLE***************************/
#middle{
	min-width: 970px;
	height: 45px;
	background-image: url("../img/middle_bg.png");
	background-repeat: repeat-x;
}
#middle #category{
	width: 240px;
	height: 45px;
	display: inline-block;
}
#middle #options{
	min-width: 720px;
	height: 45px;
	display: inline-block;
	line-height: 45px;
}
#middle #options #page-tab{
	float:left;
	height: 45px;
}
#middle #options #page-tab #page1{
	background: url("img/back")
}
#middle #options #text-options{
	height: 45px;
	float: right;
	padding-right: 45px;
}

#middle #options #Full_Toolbar{
	height: 45px;
	float: right;
	padding-right: 45px;
}

#middle #category #btn-wrap{
	float:right;
	margin-top:-15px;
}
#middle #category #search-box{
	outline: none;
	background: #ededed;
	float:left;
	border: solid 1px #ccc;
	width:100px;
	height: 20px;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	-webkit-transition: all .5s;
	-moz-transistion: all .5s;
	-transition: all .5s;
	-webkit-border-radius:10em;
	-moz-border-radius:10em;
	border-radius: 10em;
}

#middle #category #search-box:focus{
	width:150px;
	background-color:#fff;
	border-color:#6dcff6;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);


}
.input-mini{
	width:20px;
	margin-bottom:7px;
}


/************************BOTTOM*****************************/
#bottom{
	min-width: 970px;
	min-height: 478px;
}
#bottom #widgets{
	display: inline-block;
	width: 240px;
	min-height: 478px;
}

#bottom #canvas-wrap{
	display: inline-block;
	min-width: 720px;
	min-height: 478px;
	vertical-align: top;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
}
#bottom #canvas-wrap #canvas{
	width:720px;
	height: 478px;
	overflow: auto;
	resize:both;
	background: white;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0 2px 10px #888;
	overflow: hidden;
}

#main-nav li {
    display: inline-block;
    line-height: 35px;
    margin-left: -25px;
    margin-top: 18px;
}
#main-nav li a {
    position: relative;
    width: 130px;
    height: 25px;
    display: block;
    background-image: url('../img/tabs.png');
    background-position: top;
    color: #e7e7e7;
    text-decoration: none;

    font-weight: bold;
}
