/****************************************************************************************
 *                      UNIVERSAL 
 ****************************************************************************************/
 *
 {
 	margin: 0;
 	padding:; 0;
 }
/****************************************************************************************
 *                      MENU BAR 
 ****************************************************************************************/
 #menuBar 
 {
 	background-image: url("../img/filebg.png");
 	background-repeat: repeat-x;
 	height: 40px;
 }
 #file 
 {
 	border-right-style: solid;
 	border-right-color: #787878;
 	border-right-width: 1px;
 	padding: 10px;
    -webkit-box-shadow: 1px 0px 0px #c7c6c6;
    -moz-box-shadow:    1px 0px 0px #c7c6c6;
    box-shadow:         1px 0px 0px #c7c6c6;
    width: 2%;
 }
 #icons 
 {
 	height: 40px;
 	width: 96%;
 }

/****************************************************************************************
 *                      MISC  
 ****************************************************************************************/
 .clearer
 {
 	clear: both;
 }
 .right 
 {
 	float: right;
 }
 .left 
 {
 	float: left;
 }