/****************************************************************************************
 *                      UNIVERSAL 
 ****************************************************************************************/
 *
 {
 	margin: 0;
 	padding:; 0;
 }
 body 
 {
 	background-color: #eaeaea;
    font-family: 'Karla', sans-serif;
 }
/****************************************************************************************
 *                      MENU BAR 
 ****************************************************************************************/
 #menuBar 
 {
 	background-image: url("../img/filebg.png");
 	background-repeat: repeat-x;
 	height: 40px;
 }
 #file 
 {
 	border-right-style: solid;
 	border-right-color: #787878;
 	border-right-width: 1px;
 	padding: 10px;
    -webkit-box-shadow: 1px 0px 0px #c7c6c6;
    -moz-box-shadow:    1px 0px 0px #c7c6c6;
    box-shadow:         1px 0px 0px #c7c6c6;
    width: 2%;
 }
 #icons 
 {
 	height: 40px;
 	width: 96%;
 }
/****************************************************************************************
 *                      MAIN
 ****************************************************************************************/
 #main 
 {
 	background-image: url("../img/mainbg.png");
 	padding: 1em;
 }
 #componentsWrapper 
 {
 	width: 20%;
 }
 #components
 {
 	border-radius: 18px;
 	background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
 	background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
 	background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
 	background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
 	background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
 	background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
 	-webkit-box-shadow: inset 0 4px 56px 12px #bfbfbf;
 	-moz-box-shadow: inset 0 4px 56px 12px #bfbfbf;
 	box-shadow: inset 0 4px 56px 12px #bfbfbf;
 	padding: 1em;
 }
 canvas 
 {
 	background-color: white;
 	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.47);
 	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.47);
 	box-shadow: 0 1px 5px rgba(0,0,0,0.47);
 	width: 1000px;
 }
/****************************************************************************************
 *                      MISC  
 ****************************************************************************************/
 .clearer
 {
 	clear: both;
 }
 .right 
 {
 	float: right;
 }
 .left 
 {
 	float: left;
 }