/*start top*/
#top {
	margin:5px 0px 0px 5px;
	display:inline-block;
	width:980px;
}
#file-menu{
	float:left;
	padding:2px;
	width: 230px;
	min-height:75px;
	border: 1px solid #000;
}
#wrapper{
	padding-left: 4px;
	display:table;
}
#controls-right{
	display:table-cell;
	vertical-align: middle;
	padding:2px 2px 2px 40px;
	width:730px;
	height:75px;
	border: 1px solid #000;

}
/*end top*/

#bottom{
	margin-left:5px;
	margin-top:-5px;
	width:980px;
}

/*start widgets area*/
#widget-container{
	float:left;
	padding:2px;
	border: 1px solid #000;
	height: 615px;
	width: 230px;
}

#widget-option{

}
#widgets{
	margin-top:2px;
}
#widgets-table{
    text-align:center;

}

#widgets-table td{
	width:111px;
	height:80px;
	text-align:center;
	border: 1px solid #000;
	background-color: #EEE9E9;
}
#search-box{
	float:right;
	text-align: right;
	-moz-border-radius: 12px;
	border-radius: 12px;
	width:135px;
	height:27px;
}


/*start user-frame*/
#wire-area{
	float:left;
	margin-left:4px;
	padding:2px;
	border:1px solid #000;	
	width:734px;
	height:615px;
}

#wire-menu{
	height:35px;
	background-color: #8B8989;	
}
#pages{
	margin-left: 3px;
	margin-top:15px;
	float:left;
}
#text-options{
	margin-top:8px;
	float:right;
}
#font-box{
	width:20px;
	height:10px;
}
#frame{
	border: 1px solid #000;
	height:580px;
	background-color:#e0e0e0;
}


